<table class="table table-stribe">
  <thead>
    <tr class="success">
      <th><strong>Name:</strong></th>
      <th><strong>Description:</strong></th>
      <th><strong>Price:</strong></th>
      <th><strong>Quantity:</strong></th>
      <th><strong>Image:</strong></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr class="success">
      <td><%= @product.name %></td>
      <td><%= @product.description %></td>
      <td><%= @product.price %></td>
      <td><%= @product.quantity %></td>
      <td><%=image_tag @product.image.url(:thumb) %></td>
      <td>
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
      </td>
    </tr>
  </tbody>
</table>



